.upload-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:5px;
}
.image-card {
    box-shadow:10px 10px 2px rgb(155, 154, 154);
    margin:30px;
    overflow: hidden;
    border:2px solid black;
}
.form-container {
    margin-top:30px;
}