.main-nav {
    padding:20px;
    position:sticky;
    top:0px;
}
.main-nav ul {
    display:flex;
    justify-content: end;
}
.main-nav .nav-container li{
    display:inline-block;
    color:rgb(15, 39, 71);
    font-size:1.3em;
    margin:10px;
    cursor:pointer;
    padding:7px;
    border-radius:10px;
}
