.main-nav {
    padding:20px;
    position:sticky;
    top:0px;
    background-color:white;
    box-shadow: 2px 2px 4px rgb(15, 39, 71);
    z-index:10;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav ul {
    display:flex;
    justify-content: end;
}
.logo {
    cursor: pointer;
}
.main-nav .nav-container li{
    display:inline-block;
    color:rgb(15, 39, 71);
    font-size:1.3em;
    margin:10px;
    cursor:pointer;
    padding:7px;
    border-radius:10px;
}
