.photodrive-container {
    border-radius:10px;
    background-color:rgb(242, 239, 239);
    width:100%;
    margin:auto;
    max-width:1250px;
}
.user-photo-creator {
    display:flex;
    justify-content: center;
    width:100%;
}
.user-title {
    display:flex;
    justify-content: center;
    
}