.photodrive-container {
    border-radius:10px;
    
    box-shadow:10px 10px 2px grey;
    border:2px solid grey;
    width:100%;
    margin:auto;
    margin-top:50px;
    max-width:1250px;
}
.user-photo-creator {
    display:flex;
    justify-content: center;
    width:100%;
}
.user-title {
    display:flex;
    justify-content: center;
    
}